body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

ul {
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  font-weight: 600;
}


h1 {
  font-size: 68px;
  position: relative;
  font-weight: 400600;
  margin-bottom: 1rem;
  color: var(--font-dark);
  text-shadow: 0px 0px 3px black;
}

h2 {
  font-size: 45px;
  margin-bottom: 1rem;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 35px;
}



.image {
  width: 100%;
}