:root{
  --oranged: #F46752;
  --font-dark: #1D253C;
  --font-light: #5A6482; 
  --font-light-blue: #007188;
  --font-white: #fff;
  --font-light-gray: #ACB4BF;

  --bg-light-blue: #E5F3FE;
  --bg-light: #F9F5F2;
  --bg--more-ligth: #F8F8F8;
  --bg-dark: #363839;

  --card-1-font: #7CAFDD;
  --card-1-bg: #A9D8FF;

  --card-2-font: #E79751;
  --card-2-bg: #FFAE68;

  --card-3-font: #FA5240
  --card-3-bg: #FA5240;

  --card-4-font: #126F85;
  --card-4-bg: #126F85


}
