.button {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all  .3s ease-in-out;
  z-index: 1000;
}

.button--orange{
  background: #F46752;
  font-size: 0.55rem;
  color: var(--bg-light);
  padding: 20px 60px 20px 30px;
  position: relative;

}
.button--orange:hover{
  background: #e25741;
  font-size: 0.55rem;
  color: var(--bg-light);
}

.button--orange::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 10px;
  background: url(../img/svg/shap1e.svg) no-repeat;
  top: 24px;
  right: 17px;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.button--orange:hover::before {
  transform: translateX(3px);
}

.button--orange:not(:hover)::before {
  transition: transform 0.3s ease-in-out;
  transform: translateX(0px); 
}


.button--border {
  padding: 0.43rem 1rem;
  border: 1px solid rgba(29, 37, 60, 0.20);
  color: var(--font-dark);
  font-size: 0.45rem;
}

.button--border:hover {
  border: 1px solid var(--font-light-blue);
  color: var(--font-light-blue);
}

@media (max-width:479px){
  .button--border {
    font-size: 0.45rem;
  }
}