.button-footer {
  width: 84px;
  height: 60px;
  padding: 19px 17px 17px 19px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;

  border-radius: 0px 5px 5px 0px;
  background-color: #126F85;
}