.button__light {
  padding: 13px 30px;
  border-radius: 4px;
  border: 1px solid rgba(29, 37, 60, 0.20);
  color: var(--font-dark);
  font-size: 0.45rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all  .3s ease-in-out;
}

.button__light:hover {
  border: 1px solid var(--font-light-blue);
  color: var(--font-light-blue);
}

@media (max-width:479px){
  .button__light {
    padding: 10px 25px;

    font-size: 0.45rem;
  }
}