.button__main {
  display: inline-block;
  // max-width: 220px;
  border-radius: 4px;
  border: 1px solid rgba(29, 37, 60, 0.20);
  background: #F46752;

  padding: 20px 40px 20px 30px;
  color: var(--bg-light);
  font-size: 0.55rem;
  font-weight: 600;
  text-transform: uppercase;
}

.button__main svg {
  margin-left: 8px;
}