.life-insurance {
position: relative;
  background-color: var(--bg-dark);
  padding: 120px 0 100px;
  text-align: center;
  color: var(--font-light-gray);
  // z-index: 10;


  // .life-insurance__wrapper

  &__wrapper {
    position: relative;
  }



  &__title-inner {
    max-width: 800px;
    margin: 0 auto;
  }

  // .life-insurance__title

  &__title {
    color: #fff;
    margin-bottom: 0.5rem;
  }

  // .life-insurance__items

  &__items {
    margin: 1rem 0 1.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }

  &__items::before {
    content: '';
    width: 1160px;
    height: 400px;
    top: -144px;
    right: -212px;
    position: absolute;
    background: url(../img/svg/Group-2.svg)no-repeat;
  }

  // .life-insurance__item

  &__item {
    position: relative;
    width: 33%;
    padding: 88px 10px 10px 10px;
    font-weight: 600;
    position: relative;
    max-width: 245px;
    // z-index: 10;


  }

  &__item::before {
    position: absolute;
    content: '';
    top: 20%;
    right: 52%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--font-light);
    transform: translate(50%, -50%);
    z-index: -1;
  }

  &__item:nth-child(1) {
    background: url(../img/png/life-insurance1.png) center top 10px no-repeat;
  }

  &__item:nth-child(2) {
    background: url(../img/png/life-insurance2.png) center top 10px no-repeat;
  }

  &__item:nth-child(3) {
    background: url(../img/png/life-insurance3.png) center top 10px no-repeat;
  }


  &__item-title {
    font-size: 0.73rem;
    color: #fff;
    margin-bottom: 0.5rem;
    line-height: 1;
  }

  &__item-text {
    font-size: 0.53rem;
    line-height: 1.6;
    font-weight: 400;
  }
}

@media (max-width:992px){
  .life-insurance__items::before {

    top: -143px;
    right: -358px;
  }
}



@media (max-width:767px) {
  .life-insurance__items {
    margin: 1rem 0 1.8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .life-insurance__items {
    gap: 1rem;
  }

  .life-insurance__items::before {
    top: 58px;
    right: -212px;
    transform: rotate(90deg);
  }

  .life-insurance__item {
    width: 100%;
    padding: 88px 10px 10px 10px;
  }
}

@media (max-width:767px) {
  .life-insurance {
    padding: 60px 0 60px;
  }
}