.link {
  font-size: 0.6rem;
  font-weight: 600;
  padding-right: 37px;
  background: url(../img/svg/blue-arrow-right.svg) right -2px top 3px no-repeat;
  transition: border-bottom  0.3s ease-in-out;

}

.link:hover {
  border-bottom: 1px solid var(--font-light-blue);
}