.modal-price {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 10000;
  // display: none;

  &-close {
    position: absolute;
    top: 0.4rem;
    right: 0.8rem;
    color: #a39494;
    text-transform: lowercase;
    cursor: pointer;
    padding: 10px 10px;
    display: inline-block;

  }

  // .modal-price__wrapper

  &__wrapper {
    background: #ffffff;
    padding: 2rem;
    border-radius: 6px;
    border: 1px solid rgba(29, 37, 60, 0.20);
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
    
  }


  // .modal-price__title

  &__title {
    margin-bottom: 1rem;
    color: black;
    font-weight: 600;
  }

  // .modal-price__items

  &__items {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  // .modal-price__item

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 150px;
  }


  // .modal-price__item-title

  &__item-title {
    font-weight: 400;
    line-height: 1.3;
    font-size: 0.7rem;
    color: var(--font-light);
    margin-bottom: 0.4rem;
  }

  // .modal-price__item-text

  &__item-text {
    font-weight: 400;
    line-height: 1.3;
    font-size: 0.5rem;
    margin-bottom: 0.1rem;
  }

  // .modal-price__item-price

  &__item-price {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
}