.safe-hands__item {
  max-width: 320px;
  max-height: 310px;
  background-color: var(--white);
  text-align: center;
  padding-top: 155px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.36rem; 
  line-height: 2.3;
}