.safe-hands {
  padding: 2.8rem 0;
  background: var(--bg--more-ligth);
  text-align: center;
  position: relative;

  // .safe-hands__items

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  // .safe-hands__item

  &__item {
    max-width: 320px;
    max-height: 310px;
    width: 33%;
    padding: 155px 35px 40px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.0;
    transition: all 0.3s ease-in-out;
  }

  &__item:hover {
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.04);
  }

  &__item:nth-child(1) {
    background: #fff url(../img/png/safe-hand-A+.png) center top 70px no-repeat;
  }

  &__item:nth-child(2) {
    background: #fff url(../img/png/safe-hand-family.png) center top 30px no-repeat;
  }

  &__item:nth-child(3) {
    background: #fff url(../img/png/safe-hand-stars.png) center top 44px no-repeat;
  }
  &__item:hover {
    transform: translateY(-4px) scale(1.02);
    // transform: scale(1.02);
  }


  &__item-title {
    color: var(--font-dark);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.1;
  }

  &__item-text {
    margin-top: 10px;
    font-size: 0.36rem;
  }
}


@media (max-width:767px) {
  .safe-hands__items {
    display: flex;
    flex-direction: column;
  }

  .safe-hands__item {
    width: 100%;
  }
}

.safe-hands::after {
  position: absolute;
  content: '';
  bottom: -30px;
  right: 0;
  width: 181px;
  height: 184px;
  background: url(../img/png/dog.png) no-repeat;
  z-index: 10;
}

@media (max-width:767px) {
  .safe-hands::after {
    display: none;
  }
}