.subpicture-block {
  font-size: 0.7rem;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 3px 4px 34px 0px rgba(66, 71, 77, 0.11);

  padding: 0.3rem 0.5rem;
  font-family: 'Roboto'sans-serif;
  line-height: 1.6;
  color: var(--font-dark);
}