.to-help {

  padding: 150px 0 160px 0;
  background: var(--white);
  // .to-help__wrapper

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
  }

  // .to-help__content

  &__content {
    width: 50%;
    max-width: 470px;
    padding: 10px;
  }

  &__content a {
    color: #126F86;
  }

  // .to-help__img

  &__img {
    width: 50%;
    position: relative;
    max-width: 542px;
    max-height: 510px;
  }

  &__img::before {
    position: absolute;
    content: '';
    top: -34px;
    left: -45px;
    background: url(../img/svg/dots.svg) no-repeat;
    width: 195px;
    height: 124px;
    z-index: -1;
  }

  &__subpicture-block {
    position: absolute;
    content: '';
    bottom: -11px;
    left: -49px;
  }
}

@media (max-width:767px) {

  .to-help {
    padding: 100px 0 150px 0;
  }

  .to-help__wrapper {
    flex-direction: column;
  }

  .to-help__content,
  .to-help__img {
    width: 100%;
  }

  .to-help__img {
    padding: 0px 30px;
  }

  .to-help__img::before {
    top: -28px;
    left: 3px;
  }

  .to-help__subpicture-block {
    bottom: -19px;
    left: -7px;
  }

}

@media (max-width:479px) {
  .to-help {
    padding: 40px 0 150px 0;
  }
}